body{
min-width:980px;
padding:0;
margin:0;
font-family:"微软雅黑","宋体", Arial, Helvetica, sans-serif;
color:#333333;
font-size: 14px;
line-height: 20px;
background:#ffffff url(../image/admin/bg-left.gif) repeat-y;}
* { padding:0; margin:0;}

div, h1, h2, h3, h4, p, form, ul, label, input, textarea, select, img, span{padding:0;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
<em></em>input, textarea, select{font-family:"微软雅黑","宋体", Arial, Helvetica, sans-serif;}ble{border-collapse:collapse;}
a { text-decoration: none;color: #333333;}
a:hover { color:#d60000;}
.clear { clear: both;}

/**/
#main { width:100%;}
/*后台顶部*/
#header {border-bottom:5px solid white;}
#header .top { height:85px; padding:0; background:#3a6ea5; position: relative;}
/**/
.logo { width:760px; 
height:81px; 
padding:10px 0 0 0; left:20px;
}
/**/
.user { position: absolute; right:13px; top:10px; width:400px; height:40px; text-align:right; color:#ffffff;}
.user #avatar { float:right; width:40px; height:40px; margin-left:10px;margin-top:0px;}
.username { padding:0;height:29px; 
line-height:20px; overflow:hidden;
}
.userbtn { padding:0;height:20px;line-height:20px;}
.userbtn a { padding:0;margin-left:15px; color:#ffffff;height:20px;line-height:20px;vertical-align:top;}
.userbtn a.logout { padding-left:20px;background: url(../image/common/tuic_2.png) no-repeat left center;}
.userbtn .logout:hover { padding-left:20px;color:#000000; background: url(../image/common/tuic_1.png) no-repeat left center;}
.userbtn a.profile { padding-left:20px;background: url(../image/common/home_2.png) no-repeat left center;}
.userbtn .profile:hover { padding-left:20px;color:#000000; background: url(../image/common/home_1.png) no-repeat left center;}